/* 复古 */
.skin ul .skin1 {
	display:none;
}

.skin ul .skin2 {
}

.skin i{
	color:#452F26;
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;	
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track-piece {
	background-color: #E5DFCA;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #6A4A3C;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #CCCCCC;
	-webkit-border-radius: 6px;
}

body {
	color: #555;
	background: #C8C8C8 url(images/skin1_cloth_bg.jpg) fixed repeat;
}

.wrapper_bg{
	background: rgba(255, 255, 255, 0.3);
}

.wrapper_bg:before{
	background: url(images/skin1_main_before.png) repeat-y;
}

.wrapper_bg:after{
	background: url(images/skin1_main_after.png) repeat-y;
}

.banner_bg{
	background: #aa9c87 url(images/skin1_banner_bg.png) repeat;
}

a {
	color: #6A4A3C;
}

a:hover,a:focus {
	color: #000;
}

#menu-toggle{
	color:#fff;
}

#content p{
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;	
}

#comment-list .avatar {
	background-color: #BFBFBF
}

.widget , .widget a {
	color: #555;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;	
}

.widget a:hover {
	color: #000;
}

::-moz-selection {
	background-color: #80705A;
	color: #fff;
	text-shadow: none;
}

::selection {
	background-color: #80705A;
	color: #fff;
	text-shadow: none;
}

.header {
	background: #3B3B3B url(images/skin1_header_bg.jpg);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);	
}

.header .bar {
	background: url(../images/stripes.png);
}

.content a{
	color:#C50C00;
}

.content a:hover{
	color:#450B0B;
}

.read_more a , .post .more-link{
	color: #887B66;
}

.fluidbox-overlay{
	background-color:rgba(0, 0, 0, 0.5);
}

.pattern{
	background: url(images/pattern01.png) no-repeat center center;
}

.logo-text a{
	color:#FFFFFF;
}

.logo-text a:hover{
	color:#FFFFFF;
}

.logo-text a i{
	color: #F7F6F1;
}

.logo-text a i:hover{
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(255,144,0,0.5);	
}

header #searchbox .search-text {
	background: #E0D9BA;
	border: 1px solid #6A4A3C;
	color: #6A4A3C;
}

#searchbox i {
	color: #E0D9BA;
	background-color: #6A4A3C;
}

.log-in-out .icon-login i{
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;
	color:#452F26;
}

#user_login , #user_pass {
	border: solid 1px #6A4A3C;
	background: #E0D9BA;
}

input#wp-submit {
	border: 1px solid #126066;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background: #877871;
	background: -webkit-gradient(linear,left top,left bottom,from(#07BBCD),to(#1B8992));
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
}

header .log-in-out #login-form {
	border-top: 1px solid #5D5142;
}

header .log-in-out .login-links {
	border-top: 1px solid #5D5142;
}

.login-links a{
	color:#fff;
}

.header-menu .header-menu-wrapper > ul > li > .dropdown{
	border-top: 1px solid #64513C;
}

.dropdown .dropdown-wrapper,.login_bg .dropdown-wrapper {
	background-color: rgba(165, 148, 122, 0.95);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}

.header-menu .header-menu-wrapper > ul > li > a{
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
	color:#FFF7EE;
}

.header-menu .header-menu-wrapper > ul > li > a:hover , .header-menu .current-menu-item > a{
	background-color:#252525;
}

.header-menu-wrapper > .header-menu-list > .current-menu-item  , .header-menu .header-menu-wrapper > ul > li:hover {
}

.header-menu-wrapper > .header-menu-list > .current-menu-item > a, .header-menu .header-menu-wrapper > ul > li:hover a {
     color: #FFFFFF;
}

.header-menu-list .sub-menu > li > a , .profile .sub-menu > li > a {
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;	
	color: #FFF7EE ! important;
}

.header-menu-list .sub-menu > li:first-child > a , .profile .sub-menu > li:first-child > a {
}

.header-menu-list .sub-menu > li > a:hover , .profile .sub-menu > li > a:hover {
	color: #FFFFFF ! important;
}

.member_login .sub-menu li:hover {
	background-color: #57433A;
}

.profile .sub-menu li{
	border-bottom: 1px solid #83725D;
}

.log-out{
	border-bottom: none ! important;
}

.header-menu-list .sub-menu ul > li > a , .profile .sub-menu ul > li > a {
	color: #9099b7;
}

.header-menu-list .sub-menu ul > li > a:hover , .profile .sub-menu ul > li > a:hover {
	color: #fff;
	background-color: #50597b;
}

.logo-subtitle{
	color:#757575;
}

.mobile-nav {
	background: #DBD6C3;
}

.mobile-menu > li {
	border-bottom: 1px solid #C0B68C;
}

.mobile-menu .sub-menu > li {
	border-top: 1px solid #C0B68C;
}

.posts-nav {
	color: rgba(0,0,0,0.44);
}

.posts-nav .page-numbers , #comment-nav-below .page-numbers{
	background: #F0F0E3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.posts-nav .page-numbers.current,.posts-nav .page-numbers:not(.dots):hover , #comment-nav-below .page-numbers.current,#comment-nav-below .page-numbers:not(.dots):hover {
    background-color: #fff;
}

.posts-nav .page-numbers.dots {

}

.slider {
}

#header_slider {
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ls-action>a {
	background-color:#DAD5C2;
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
}

.slider  p {
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
}

.sticky_slider .featured-image {
	background: #574B3B url(../images/post_thumb.png) center no-repeat;
}

#controls a {
	color: #aaa;
}

#controls a:hover {
	background: #57585E;
	color: #A9A9A9 !important;
}

#controls a.selected {
	background: #57585E;
	color: #A9A9A9 !important;
}

.home .post:after{
    background: url(images/mento.png) top left repeat;	
}

.post-copyright , .read_more {
	background: #EAE5D3;
	border: 1px solid #CAC09D;
}

.post .more-link:hover {
	color: #555;
}

.post-copyright:hover , .read_more:hover {
	background: #F2EDDE;
	border: 1px solid #84725D;	
}

a.jm-post-like {
	color: #6A4A3C;
}

a.jm-post-like.liked {
	color: #B10F0F;
}

a.jm-post-like:hover,a.jm-post-like:active,a.jm-post-like:focus,a.liked:hover,a.liked:active,a.liked:focus {
	color: #B10F0F;
}

.top_meta , .top_meta a {
	color: #807E77;
}

.top_meta a:hover {
	color: #666;
}

.bottom_meta:before , .work-mate:before{
	border-top: dashed 1px #B3A788;
	border-bottom: dashed 1px #F9F3DE;
}

.sticky_slider:before {
	border-top: dashed 1px #B3A788;
	border-bottom: dashed 1px #F9F3DE;
}

.meta_tabs a {
	background: #E5E2D5;
}

.meta_tabs a:before {
	border-color: transparent #E5E2D5 transparent transparent;
}

.meta_tabs a:after {
	background-color: #6A4A3C;
}

.meta_tabs a:hover {
	background-color: #A59785;
	color: #fff;
}

.meta_tabs a:hover:before {
	border-color: transparent #A59785 transparent transparent;
}

.qrcode-box {
	background: #FFFFFF;
	border: 1px solid #6A4A3C;
}

.qrcode-box .qrcode-desc {
    color: #80705B;
    text-shadow: rgba(255, 255, 255, 0.85) 0px 1px 0px;
}

#breadcrumb {
	border-top: 1px solid #56585C;
	background: #FFFFFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#breadcrumb a , #breadcrumb li:after {
	color: #87898F;
}

#breadcrumb a:hover , #breadcrumb li:after:hover {
	color: #ffffff;
}

.ls-action > a {
	color: #817567;
}

.ls-action > a:hover {
	color: #3A2820;
}

.ls-slide-outer .ls-pager.ls-pg > li a {
	background-color: #C7B28F;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5) inset;}

.ls-slide-outer .ls-pager.ls-pg > li:hover a, .ls-slide-outer .ls-pager.ls-pg > li.active a {
	background-color: #6A4A3C;
}

.related_box {
	border-right:1px #BBB5AF solid;
}

.related_box:hover {
	background: #BDB69C;
}

.related_box .r_pic img {
	background: #B9B39C;
}

#drawer-toggle {
	color: #868686;
}

#drawer-toggle:hover {
	color: #fff;
}

#drawer {

}

#drawer-inside {
	color: #777;
}

#drawer-inside .chirp li {
	border-bottom: solid 1px #444;
}

.leftbar {
    background: url(images/black_nav.png) top left repeat;
}

.left_menu ul li:hover {
}

.left_menu ul li {

}

.left_menu ul li i{
	color: #3C3C3C;
}

.left_menu ul li i:hover{
	color: #000000;
}

.toggle-leftbar {
	box-shadow: 1px 3px 5px rgba(0,0,0,.15);
	background: #58595C;
}

.rightbar .widget{

}

.rightbar_bg {
    background: rgba(255,255,255,0.3) url(images/black_line2.png) top left repeat-y;
}

.about_me {
	background: #F7F6F1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.about_me:before{

}

.me_name , .me_avatar{
    text-shadow: rgba(255, 255, 255, 1) 0px 1px 0px;
}

.me_content {
    color: #80705B;
    text-shadow: rgba(255, 255, 255, 0.85) 0px 1px 0px;
}

.social_link{
	background-color: #EFECE2;	
}

.social_link:before {
    background: rgba(255,255,255,0.3) url(images/skin1_drawer_before.png) top left repeat-x;
}

.rightbar .widget ul li {
    border-bottom: dashed 1px #888888;
}

.rightbar .widget .widget-title{
    color: #555;
    background: url(images/net.png) top left repeat;
    border-bottom: dashed 1px #555;
}

.rightbar .widget .widget-title:before {
}

.rightbar .widget .widget-title span {
	color: #555;
}

.rightbar .widget .widget-title span:before , .rightbar .widget .widget-title span:after{
	background-color: #C7B28F;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5) inset;
}

.tagcloud a {
	border: 1px solid #777777;
}

.tagcloud a:hover {
	border: 1px solid #000;	
}

.search-form-input {
	border: solid 1px #AFAEAE;
	background: #EFEDED;
}

.search-button {
	background: #555;
	color: #fff;
}

.post .box-wrap ,.grid-item {
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.archive-title {
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.entry-title {
}

.entry-title a {
    color: #4D4D46;
    text-shadow: 1px 1px 0px #F3F3F3,1px 2px 0px #B2B2B2;
}

.entry-title a:hover {
}

.intro {
	color: #aaa;
	border-bottom: solid 1px #eee;
}

blockquote {
	background: #ECE6D9;
	border-left:5px solid #A69A80;
}

.header .widget {
	border-bottom: solid 1px #ddd;
}

.single .post-nav {
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.post-nav , .page-template-custom-work .post-nav{
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.post-nav a:hover {
	color: #FFF;
	background: #806F5A;
}

.comments {
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.comment-body{
	background: #F0F0E3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255,255,255,.75) inset;	
}

.author-img{
	background: #E5E6D0;	
}

.fn , .fn a  {
	color: #848568 !important;	
}

.fn a:hover {
	color: #D32 !important;
}

.comment-text p{
	color:#787968;
}

.comment-info span a{
	color:#999;
}

.comment-info span a:hover{
	color: #D32 !important;
}

#comments-title {
	color:#6A4A3C;
}

#comments-title:before{
	border-top: dashed 1px #B3A788;
	border-bottom: dashed 1px #F9F3DE;
}

.comments-open {
	border-bottom: solid 1px #e7e7e7;
}

#respond .required {
	color: #E75353;
}

#respond input[type="text"], #respond textarea {
	color: #6A4A3C;
	border: solid 1px #CBC4A8;
	background: #EFECDE;
}

#wp-smiley {
	border: solid 1px #CBC4A8;
	background: #EFECDE;
}

#commentform #submit {
	border: 1px solid #126066;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background: #877871;
	background: -webkit-gradient(linear,left top,left bottom,from(#07BBCD),to(#1B8992));
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
}

.commentlist>li {
	border-bottom: 1px dashed #A3937F;
}

.children li {
	border-top: 1px dashed #DCD7C3;
}

.commentcount, span.author {
	color: #ADA28E;
}

.comment-block {
}

.comment-text blockquote {
	background: #eee;
	color: #888;
}

.reply a {
	color:#989073;
}

.reply a:hover {
	color: #6C6C6C;
}

#cancel-comment-reply-link {
	color: #999;
}

#cancel-comment-reply-link:hover {
	color: #555;
}

#cancel-comment-reply-link i {
	color: #999;
}

#cancel-comment-reply-link i:hover {
	color: #555;
}

.comments .logged-in-as a {
	color: #C13B32;
}

.comments .logged-in-as a:hover {
	color: #000;
}

.comment-notes, .comments .logged-in-as {
}

.comment-awaiting-moderation {
	color: #555;
}

.vcard img {
	background: #DAD5C2;
}

.comment-time {
	color: #bbb;
}

.comment-time:hover {
	color: #999;
}

#comment-nav-below {

}

.audio-wrapper .mejs-play button:before , .audio-wrapper .mejs-pause button:before , .audio-wrapper .mejs-mute button:before , .audio-wrapper .mejs-unmute button:before {
	color: #7B6B57;
}

.audio-wrapper span {
	color: #7B6B57;
}

.audio-wrapper .mejs-container .mejs-controls {
	background: #C7C2AB;
}

.audio-wrapper .mejs-controls .mejs-time-rail .mejs-time-total , .audio-wrapper .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #E2DECA;
}

.audio-wrapper .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #F3F0E8;
}

.audio-wrapper .mejs-controls .mejs-time-rail .mejs-time-current , .audio-wrapper .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #7B6B57;
}

.foot_btn li>a {
	background: rgba(160, 160, 160, 0.5);
	color: #FFFFFF;
}

.foot_btn li>a:hover {
	background: rgba(160, 160, 160, 0.7);
}

a.sidebar_btn.btn-selected{
	background:rgba(0, 0, 0, 0.8);
}

#fi-wx-show , .baidu_share .bdsharebuttonbox{
	background: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

.wp-caption {
	color: #999;
}

.gallery-item img {
	border: solid 1px #e6e6e6 !important;
}

.gallery-item img:hover {
	border: solid 1px #ccc !important;
}

.ias-trigger a {
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.format-status .box-wrap {
	border: none;
}

.entry-title:before {
    background: url(images/black_line3.jpg) repeat-x;
}

.entry-title:after{
	background-color:#BB2020;
}

i.cut-icon {
	color: #A89774;
}

.cs_widget_link img{
	border: 3px solid #CDC5A7;
}

.cs_widget_link img:hover{
	border: 3px solid #A89580;
}

/* 归档 */
.archive-nav {   
    background: #dad5c2 url(images/black_post.jpg) top left repeat;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); 
}

.year {   
} 

.month.monthed {    
    background: #F7F6F1;
} 

.month.selected,.month:hover {   
    background: #AA9C87;
    color: #fff;
}
.year-toogle {     
    background: #E5E2D5;   
}  

.archives a {    
    color: #6A4A3C;
	background: #EFEDE2;
	border: 1px solid #DAD5C2;   
} 

.archives a:hover {   
	background: #F5F2E1;
	border: 1px solid #ADA484; 
} 

.brick em {   
    color: #aaa;   
}  

.linkcat li a{
    color: #6A4A3C;
}

.linkcat li{
	background: #EFEDE2;
	border: 1px solid #DAD5C2; 
}

.linkcat li:hover {
	background: #F5F2E1;
	border: 1px solid #ADA484; 
}

/* footer */
#footer{
}

#drawer{
	background: #e9e5d7 url(images/skin1_drawer_bg.png);
}

#drawer:before{
	background: url(images/skin1_drawer_before.png) repeat-x;
}

.copyright , .copyright a{
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}

.copyright a{
	color:#545454;
}

/* prettify */
pre {
	background-color: #fff;
}

.com {
	color: #93a1a1
}

.lit {
	color: #195f91
}

.pun,.opn,.clo {
	color: #93a1a1
}

.fun {
	color: #dc322f
}

.str,.atv {
	color: #D14
}

.kwd, .prettyprint.tag {
	color: #1e347b
}

.typ,.atn,.dec,.var {
	color: teal
}

.pln {
	color: #48484c
}

.prettyprint {
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd;
	background-color: #fff;
	background-image: -webkit-linear-gradient(#EEE .1em, transparent .1em);
	background-image: -o-linear-gradient(#EEE .1em, transparent .1em);
	background-image: linear-gradient(#EEE .1em, transparent .1em);
}

.prettyprint.linenums {
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0, inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd
}

ol.linenums li {
	color: #bebec5;
	text-shadow: 0 1px 0 #fff
}